<div class="card">
	<div class="card-header">Requests</div>
	<ul class="list-group">
		<li class="list-group-item"><a href="taskrequest">Task Request</a></li>
		<li class="list-group-item"><a href="workerrequest">Worker Request</a></li>
	</ul>
</div>
<div class="card">
	<div class="card-header">Add to database</div>
	<ul class="list-group">
		<li class="list-group-item"><a href="addskill">Add Skill</a></li>
	</ul>
</div>
<div class="card">
	<div class="card-header">List </div>
	<ul class="list-group">
		<li class="list-group-item"><a href="listworkers">List Workers</a></li>
		<li class="list-group-item"><a href="listtasks">List Tasks</a></li>
		<li class="list-group-item"><a href="listskills">List Skills</a></li>
	</ul>
</div>