<table class="listtable">
	<tr>
		<th> ID </th>
		<th> Name </th>
		<th> Description </th>
	</tr>
	{{#skill}}
	<tr>
		<td><a class="info-value-button" href="skill?id={{Id}}"> {{Id}} </a></td>
		<td>{{name}}</td>
		<td>{{desc}}</td>
	</tr>
	{{/skill}}
</table>