<table class="listtable">
	<tr>
		<th> Username </th>
		<th> UUID </th>
		<th> Password </th>
		<th> Name </th>
		<th> Surname </th>
		<th> Birth Date </th>
        <th> Assign Skill </th>
	</tr>
	{{#worker}}
	<tr>
		<td><a class="info-value-button" href="worker?workerID={{workerID}}"> {{workerID}} </a></td>
		<td>{{uuid}}</td>
		<td>{{password}}</td>
		<td>{{name}}</td>
		<td>{{surname}}</td>
		<td>{{birthDate}}</td>
        <td><a class="info-value-button" href="assignSkill?workerID={{workerID}}"> assign </a></td>
	</tr>
	{{/worker}}
</table>