<div class="card">
	<div class="card-header">Task</div>
	<ul class="list-group">
		{{#task}}
		<li class="list-group-item">
			<span class="info-header"> Task ID: </span>
			{{taskID}}
		</li>
		<li class="list-group-item">
			<span class="info-header"> Name: </span>
			{{taskName}}
		</li>
		<li class="list-group-item">
			<span class="info-header"> Description: </span>
			{{taskDesc}}
		</li>
		<li class="list-group-item">
			<span class="info-header"> Status: </span>
			{{taskStatus}}
		</li>
		<li class="list-group-item">
			<span class="info-header"> Assigned To: </span>
			{{assignedID}}
		</li>
		<li class="list-group-item">
			<span class="info-header"> Deadline: </span>
			{{taskDeadline}}
		</li>
		{{/task}}
		<li class="list-group-item">
			<span class="info-header"> Required Skill: </span>
			{{#skill}}
				<a class="info-value-button" href="skill?id={{Id}}"> {{Id}} </a>
			{{/skill}}
		</li>
	</ul>
</div>